paleofetch

# create by https://github.com/iamcco/coc-gitignore (Fri Jun 04 2021 13:56:04 GMT-0500 (hora estándar de Perú))
# CMake.gitignore:
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# CMake.patch:
# External projects
*-prefix/

# create by https://github.com/iamcco/coc-gitignore (Fri Jun 04 2021 13:56:12 GMT-0500 (hora estándar de Perú))
# C++.gitignore:
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
